@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Cabin:ital@1&family=Fira+Sans:ital,wght@0,900;1,400&family=Kanit&family=Lato:wght@700&family=Mulish&family=Playpen+Sans:wght@500&family=Roboto+Condensed:ital,wght@1,500&family=Rowdies&family=Sometype+Mono&family=Space+Grotesk:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Cabin:ital@1&family=Fira+Sans:ital,wght@0,900;1,400&family=Kanit&family=Lato:wght@700&family=Mulish&family=Playpen+Sans:wght@500&family=Roboto+Condensed:ital,wght@1,500&family=Rowdies&family=Sometype+Mono&family=Space+Grotesk:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Cabin:ital@1&family=Fira+Sans:ital,wght@0,900;1,400&family=Kanit&family=Lato:wght@700&family=Mulish&family=PT+Sans+Narrow&family=Playpen+Sans:wght@500&family=Roboto+Condensed:ital,wght@1,500&family=Rowdies&family=Sometype+Mono&family=Space+Grotesk:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Cabin:ital@1&family=Fira+Sans:ital,wght@0,900;1,400&family=Kanit&family=Lato:wght@700&family=Mulish&family=PT+Sans+Narrow&family=Playpen+Sans:wght@500&family=Prompt&family=Roboto+Condensed:ital,wght@1,500&family=Rowdies&family=Sometype+Mono&family=Space+Grotesk:wght@700&display=swap');


:root {
  --RockerLabelColor: rgb(21, 163, 21);
  --JokaLabelColor: lawngreen;
  --RaykiouLabelColor: #eb0909;
  --QuetzalLabelColor: aquamarine;
  --CrasterLabelColor: deepskyblue;
  --TruthlerLabelColor: #453e3e;
}

body {
  background-color: #060818;
}

#div-selection-mokepon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 1.5rem
}

header {
  color: #12fcdd;
  font-size: 8rem;
  background-color: #0e0f0f;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  text-shadow: #04da81 0.4rem 0.1rem 0.2rem;
}

#div-tittle {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.image-label-mokepon {
  width: 11rem;
  height: 14rem;
}

#subtittle {
  color: lightseagreen;
  font-size: 4rem;
  background: #070116;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  width: 65%;
  border-radius: 2rem;
  padding: 0 5% 0 5%;
}

#selection-button {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

#game-functionality {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#rename_Mk_form {
  display: flex;
  justify-content: center;
  color: azure;
  align-items: center;
  flex-flow: column;
  gap: 1.7rem;
  background: #076a7b;
  width: 35%;
  align-self: center;
  border-radius: 3rem 3rem 3rem 3rem;
}

#span-elements {
  display: flex;
  justify-content: center;
  color: azure;
  align-items: center;
  flex-flow: column;
  gap: 1.7rem;
}

#label-raykiou {
  color: var(--RaykiouLabelColor);
  text-shadow: #070404 0.1rem 0.1rem 0.1rem 0.1rem;
}

#label-crabster {
  color: var(--CrasterLabelColor)
}

#label-joka {
  color: var(--JokaLabelColor);
}

#label-rocker {
  color: var(--RockerLabelColor);
}

#label-quetzal {
  color: var(--QuetzalLabelColor);
}

#label-truthler {
  color: var(--TruthlerLabelColor);
}

#Select {
  background-color: #1a1288;
  color: #1cc4a0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  width: 7rem;
  height: 3.5rem;
  box-sizing: border-box;
  margin: 2rem;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Combat-Tittle {
  font-size: large;
  color: red;
}

.fire {
  background-color: #e20a0a;
}

.Fire {
  color: #e20a0a;
}

.ice {
  background-color: #043783;
}

.Ice {
  color: #043783;
}

.earth {
  background-color: #0ae227;
}

.Earth {
  color: #0ae227;
}

.steel {
  background-color: #838884;
}

.Steel {
  color: #838884;
}

.thunder {
  background-color: #e4d50a;
}

.Thunder {
  color: #e4d50a;
}

.air {
  background-color: #0ae49b;
}

.Air {
  color: #0ae49b;
}

.water {
  background-color: #0d1f85;
}

.Water {
  color: #0d1f85;
}

.fire, .water, .air, .earth, .steel, .thunder, .ice {
  width: 11rem;
  height: 5rem;
  border-radius: 10%;
  font-size: 1.5rem;
  color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#attack-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 1.2rem;
}

#input-rename-mokepon {
  width: 9rem;
  height: 2.6rem;
  border-radius: 7%;
  margin: 1rem 0 1rem 0;
  font-size: 1.3rem;
  background-color: #73e9b2;
  color: #0521a0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#Rename-mokepon {
  background-color: #19d6c6;
  color: #0c0b50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  width: 7rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}

#label-rename-button {
  color: #0fd392;
  font-size: 2.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image-label-mokepon {
  animation: moveMk linear 1s infinite;
}

@keyframes moveMk {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}

@keyframes moveMkInFight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
  }
}

@keyframes moveEnemy {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1rem);
  }
}

.player_image {
  animation: moveMkInFight 1s linear infinite;
}

.enemy_image {
  animation: 1s linear infinite moveEnemy;
}

#rename-button {
  color: #1ddf2d;
  background-color: #000000;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 22rem;
  height: 2.3rem;
  border-radius: 11px 11px 11px 11px;
}

#reset_Game_section {
  display: flex;
  flex-flow: column-reverse;
  align-self: center;
  height: 100%;
  gap: 1.5rem;
}

#life-score-Player {
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#VersusMessage {
  justify-self: center;
  align-self: center;
  color: #18dba1;
  font-family: 'Prompt', sans-serif;
  font-size: 3rem;
  margin: 0;
  text-shadow: rgb(32, 30, 30) 0.10rem 0.3rem 0.1rem;
}

#life-score-enemy {
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imageMkEnemy {
  grid-area: 1/5/1/6;
}

.life-score {
  width: 17rem;
  height: 24rem;
  border-radius: 8%;
  background-color: #031b1f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

#div-lifes-game {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

#defeat-tittle {
  color: #04da81;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  align-self: center;
  margin: 0;
}

#new-game {
  width: 12rem;
  height: 2.5rem;
  font-size: 1.4rem;
  color: #d6ec0e;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9804bd;
  border-radius: 1rem 1rem 1rem 1rem;
}

.label-mokepon {
  background-color: #007599;
  border: #01061d solid 0.6rem;
  font-family: 'Arimo', sans-serif;
  font-size: 2.4rem;
  border-radius: 12% 12% 12% 12%;
  text-align: center;
  box-shadow: rgb(0, 0, 0) 0.3rem 0.3rem 0.3rem 0.3rem;
  transition: all 400ms;
}

.label-mokepon:hover {
  scale: 1.03;
}

.button-selection-mokepon {
  display: none;
}

.button-selection-mokepon:checked + .label-mokepon {
  background-color: #07b1a3;
}

.spanTurns {
  color: #beac0d;
  font-size: 2.4rem;
}

#No-Rename-Mokepon {
  background-color: #19d6c6;
  color: #0c0b50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
  height: 3rem;
  width: 7rem;
  border-radius: 1.3rem 1.3rem 1.3rem 1.3rem;
  margin-bottom: 0.7rem;
}

.atackMessage {
  color: #c05252;
  font-size: 0.4rem;
}

#mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 17%;
  color: #42b68f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
}

#mokeponMap {
  border: white 3px solid;
  background-repeat: no-repeat;
}

#move-buttons-container {
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.move-button {
  background-color: #42b68f;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1rem;
}

#move-up {
  grid-area: 1/2/1/3;
}

#move-down {
  grid-area: 3/2/3/3;
}

#move-right {
  grid-area: 2/3/2/3;
}

#move-left {
  grid-area: 2/1/2/2;
}

#reset_button {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  width: 10rem;
  height: 2.5rem;
  color: azure;
  background: #9804bd;
}

@media(max-width: 992px) {
  @keyframes moveMk {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2rem);
    }
  }
  
  @keyframes moveMkInFight {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1rem);
    }
  }
  
  @keyframes moveEnemy {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1rem);
    }
  }
  
  #div-lifes-game {
    display: flex;
    flex-flow: row;
    width: 100%;
  }
  
  #attack-buttons {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
  }
  
  #new-game {
    font-size: 1.2rem;
    width: 8rem;
  }
  
  .label-mokepon {
    width: 10rem;
    height: 11rem;
    font-size: 1rem;
    display: flex;
    flex-flow: column-reverse;
  }
  
  .enemy_image {
    width: 11rem;
    height: 12.3rem;
  }
  
  .player_image {
    width: 11rem;
    height: 12.3rem;
  }
  
  #subtittle {
    font-size: 1.8rem;
    height: 4%;
    width: 63%;
    display: flex;
    justify-content: center;
  }
  
  .image-label-mokepon {
    width: 7rem;
    height: 8rem;
  }
  
  #Select {
    font-size: 1.3rem;
    height: 2rem;
    width: 4rem;
  }
  
  #main-tittle {
    font-size: 5rem;
    text-shadow: #04da81 0.1rem 0.3rem 0.1rem;
  }
  
  #mokeponMap {
    width: 400px;
    height: 400px
  }
  
  .life-score {
    height: 16rem;
    width: 10.4rem;
  }
  
  #mokepon-name, #name-enemy, .Fire, .Ice, .Earth, .Air, .Steel, .Water {
    font-size: 1rem;
  }
  
  .fire, .ice, .earth, .air, .steel, .water, .thunder {
    font-size: 1rem;
    width: 7rem;
    height: 3.5rem;
  }
  
  #span-combat-result {
    font-size: 1.7rem;
    text-shadow: rgb(32, 30, 30) 0.10rem 0.2rem 0.1rem;
  }
  
  #span-elements {
    justify-content: start;
    gap: 0.2rem;
  }
  
  .spanTurns {
    font-size: 2rem;
  }
}

@media(max-width: 768px) {
  .label-mokepon {
    width: 56%;
    height: 102%;
    font-size: 1.3rem;
  }
  
  .image-label-mokepon {
    width: 54%;
  }
  
  #main-tittle {
    font-size: 4rem;
  }
}

@media(max-width: 480px) {
  #div-selection-mokepon {
    flex-flow: column;
  }
  
  @keyframes moveMk {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.5rem);
    }
  }
  
  @keyframes moveMkInFight {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0.5rem);
    }
  }
  
  @keyframes moveEnemy {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-0.5rem);
    }
  }
  
  .image-label-mokepon {
    width: 9rem;
    height: 10rem;
  }
  
  #how_move_mokepon_message {
    display: none;
  }
  
  #move-buttons-container {
    width: 6rem;
    height: 6rem;
    margin-top: 1rem;
  }
  
  #reset_button {
    font-size: 0.8rem;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    margin-top: 2rem;
  }
  
  #main-tittle {
    font-size: 2rem;
    text-shadow: #04da81 0.1rem 0.2rem 0.1rem;
  }
  
  #Select {
    font-size: 1rem;
  }
  
  #div-tittle {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #subtittle {
    width: 70%;
    font-size: 1rem;
  }
  
  .move-button {
    width: 2rem;
    height: 2rem;
    font-size: 0.6rem;
  }
  
  #mokeponMap {
    width: 400px;
    height: 400px;
  }
  
  #mokepon-name {
    font-size: 0.6rem;
  }
  
  .spanTurns {
    font-size: 0.7rem;
    margin: 0 1.5rem 0 1.5rem;
  }
  
  #name-enemy {
    font-size: 0.6rem;
  }
  
  #div-lifes-game {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 0rem;
  }
  
  .life-score {
    height: 9rem;
    width: 100%;
  }
  
  #imageMkPlayer, #imageMkEnemy {
    width: fit-content;
    height: fit-content;
  }
  
  .fire, .ice, .earth, .air, .thunder, .steel, .water {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }
  
  .Fire, .Ice, .Earth, .Steel, .Thunder, .Water, .Air {
    font-size: 0.4rem;
  }
  
  #defeat-tittle {
    font-size: 0.8rem;
  }
  
  #VersusMessage {
    font-size: 1.4rem;
  }
  
  #new-game {
    width: 4rem;
    height: 2rem;
    font-size: 0.8rem;
  }
  
  .player_image, .enemy_image {
    width: 5rem;
    height: 5rem;
  }
  
  .player_image {
    margin-right: 1rem;
  }
  
  .enemy_image {
    margin-left: 1rem;
  }
  
  #attack-buttons {
    flex-flow: row;
    gap: 0.3rem;
    margin-top: 1rem;
  }
  
  #game-functionality {
    display: none;
  }
  
  .player_image, .enemy_image {
    width: 5.2rem;
    height: 5.2rem;
  }
  
  #reset_Game_section {
    width: 5rem;
    height: 9rem;
  }
  
  #span-combat-result {
    font-size: 0.74rem;
  }
  
  #reset_Game_section {
    height: 80%;
    transform: translateY(-5%);
  }
  
  #enemy-atacks-box {
    margin: 0;
  }
  
  #new-game {
    width: 3.5rem;
    font-size: 0.6rem;
    height: 1.5rem;
  }
  
  #life-score-Player {
    margin-right: 0.2rem;
  }
  
  #life-score-enemy {
    margin-left: 0.2rem;
  }
  
  #mapContainer {
    margin-top: 1rem;
  }
}