body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.optionsContainer{
    display: flex;
    width: 60%;
    height: auto;
}

.headerContainer{
    height: auto;
    width: 40%;
}